<nav>
	<ul class="nav-controls">
		<li><a class="nav-home" href="/">
		Home</a></li>
		<li><a class="nav-search" href="/pet/search">Search</a></li>
		<li><a class="nav-favourite" href="/user/mylist">Favourite</a></li>
		<li><a class="nav-profile" href="/user/{{user}}">Profile</a></li>
	</ul>
</nav>
