<nav>
	<ul class="nav-controls">
		<li><a href="/">home<a></a></li>
		<li><a href="/pet/search">Search</a></li>
		<li><a href="/user/mylist">Favourite</a></li>
		<li><a href="/user/{{user}}">Profile</a></li>
	</ul>
</nav>