<nav>
	<ul class="nav-controls">
		<li><a class="nav-home" href="/">
		<img class="icon-size" src="/img/home.png" alt="home">
		</a></li>
		<li><a class="nav-search" href="/pet/search">
		<img class="icon-size" src="/img/search.png" alt="search">
		</a></li>
		<li><a class="nav-favourite" href="/user/{{user}}/myList">
		<img class="icon-size" src="/img/favourate.png" alt="favourite">
		</a></li>
		<li><a class="nav-profile" href="/user/{{user}}">
		<img class="icon-size" src="/img/profile.png" alt="profile">
		</a></li>
	</ul>
</nav>
