<nav>
	<div>
		<h1>Nav</h1>
		<ul>
			<li><a href="/">home<a></a></li>
			<li><a href="/pet/search">Search</a></li>
			<li><a href="/user/mylist">Favourite</a></li>
			<li><a href="/user/{{user}}">Profile</a></li>
			<form action="logout" id="logout-form" method="POST">
				<button>Logout</button>
			</form>
		</ul>
	</div>
</nav>
