<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet">
  <title>Sign up</title>
</head>
<body>
  <section class="form-register">
    <h4>Sign up!</h4>
    <input class="controls" type="text" name="username" id="username" placeholder="Insert username">
    <input class="controls" type="email" name="email" id="email" placeholder="Insert email">   
    <input class="controls" type="password" name="password" id="password" placeholder="Insert password">
    <input class="controls" type="password" name="passwordTwo" id="passwordTwo" placeholder="Insert password again">
    <p>I agree with all <a href="#">Terms y Conditions</a></p>
    <input class="botons" type="submit" value="Register">
  </section>
</body>
</html>