<div class="signUp-container">
    <form action="" method="post" class="form-register">
        <h4>Sign Up</h4>
        <input type="text" name="username" id="username" placeholder="Insert username">
        <input type="email" name="email" id="email" placeholder="Insert email">
        <input type="password" name="password" id="password" placeholder="Insert password">
        <input type="password" name="passwordTwo" id="passwordTwo" placeholder="Insert password again">
        <p>I agree with all <a href="#">Terms y Conditions</a></p>
        <input class="botons" type="submit" value="Register">
    </form>
</div>