<section class="form-register">
    <h4>Sign up!</h4>
    <input class="controls" type="text" name="username" id="username" placeholder="Insert username">
    <input class="controls" type="email" name="email" id="email" placeholder="Insert email">
    <input class="controls" type="password" name="password" id="password" placeholder="Insert password">
    <input class="controls" type="password" name="passwordTwo" id="passwordTwo" placeholder="Insert password again">
    <p>I agree with all <a href="#">Terms y Conditions</a></p>
    <input class="botons" type="submit" value="Register">
</section>