<h1>Home</h1>
<button><a href="/pet/pet-create">Add Pet</a></button>
<form action="logout" id="logout-form" method="POST">
    <button>Logout</button>
</form>
<form action="/" method="get">
    <select name="category" id="petCategory" value="Fish">
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
        <option value="Hamster">Hamster</option>
        <option value="Fish" selected>Fish</option>
        <option value="Bird">Bird</option>
        <option value="Other">Other</option>
    </select>
    <div>
        <div>
            <label for="Male">Male</label>
            <input type="radio" name="gender" id="male" value="Male" checked="checked">
        </div>
        <div>
            <label for="Male">Female</label>
            <input type="radio" name="gender" id="female" value="Female">
        </div>
    </div>
    <button type="submit">search</button>
</form>

<ul>
    {{#each pets}}
    <li>{{this.petName}}</li>
    {{/each}}
</ul>