<div class="home-container">
    <div>
        <div>
            <p class="layer-icon">a</p>
            <p class="home-mainlogo">Pet App</p>
        </div>
        <div class="home-user-info">
            <p>Welcome {{userInfo.name}} !</p>
        </div>
        <div>
            {{#each pets}}
            <a href="/pet/{{this._id}}">{{> card}}</a>
            {{/each}}
        </div>
        <div>
            {{#each eachPet}}
            <a href="/pet/{{this._id}}">{{> card}}</a>
            {{/each}}
        </div>
    </div>
</div>
{{> nav}}