<h1>Home</h1>
<button><a href="/pet/pet-create">Add Pet</a></button>
<form action="logout" id="logout-form" method="POST">
    <button>Logout</button>
</form>
<button><a href="/pet/search">search</a></button>
{{eachPet.petName}}
{{> card}}
{{#each allPets}}
{{/each}}
{{> nav}}