<div class="home-container">
    <div class="home-user-info">
        <p>Welcome {{userInfo.name}} !</p>
    </div>
    <div>
        {{#each pets}}
        {{> card}}
        {{/each}}
    </div>
    <div>
        {{#each eachPet}}
            {{> card}}
        {{/each}}
    </div>
</div>
{{> nav}}

{{!--
{{#each eachPet}}
<h1>{{this.petName}}</h1>
{{/each}}
--}}