<div class="indexContainer">
    <h1>Logo</h1>

    <div>
        <h1 href="#">Brand Name</h1>
        </nav>

        <div>
            <a href="/logIn">Log In</a>
            <a href="/signUp">Sign Up</a>
        </div>
    </div>
</div>