<div class="indexContainer">
	<h1>Pet App</h1>
	<h1 class="img-container"></h1>
	<div class="auth-direct">
		<a class="auth-btn login-color" href="/logIn">Log In</a>
		<a class="auth-btn" href="/signUp">Sign Up</a>
	</div>
</div>