<div class="indexContainer">
	<p class="logo-font">Mochi</p>
	<img class="img-container logo" src="/img/petLogo.svg" alt="petLogo">
	<div class="auth-direct">
		<a class="auth-btn" href="/logIn">Log In</a>
		<a class="auth-btn signup-color" href="/signUp">Sign Up</a>
	</div>
</div>	