<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Initial Main</title>

    <link rel="stylesheet">
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
    <div <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Simple Authentication App</a>
        </nav>

        <div style="margin-top: 30px">
            <a class="btn btn-primary btn-lg active" href="/login.hbs">Login</a>
            <a class="btn btn-primary btn-lg active" href="/sign_up.hbs">Sign up</a>
        </div>
    </div>
</body>

</html>