:root {
  --white-color: white;
  --primary-color: #e3562a;
  --secondary-color: #65aaea;
  --grey: #bebab3;
  --dark-grey: #78746d;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: var(--dark-grey);
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(254, 200, 167);
  background: radial-gradient(circle, rgba(254, 200, 167, 1) 0%, rgb(255, 149, 82) 100%);
}
/* nav */
nav {
  height: 50px;
  width: 95%;
  border-radius: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 10;
  background: #ebebeb;
  box-shadow: inset 5px 5px 10px rgba(118, 118, 118, 0.1), -2px -2px 5px rgba(255, 255, 255, 0.8),
    6px 6px 7px rgba(0, 0, 0, 0.2);
}

.nav-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.icon-size {
  height: 30px;
  width: 30px;
  filter: invert(30%);
}


/* Index */

.indexContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.indexContainer p {
  font-size: 3rem;
  font-weight: bolder;
}

.logo-font {
  color: #eee8e8;
  outline-color:#65aaea;
  text-shadow: 3px 4px 6px rgba(123, 122, 122, 0.55);
}

.auth-direct {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

a {
  text-decoration: none;
}

/* .auth-btn {
  border: 3px solid rgb(255, 140, 0);
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 30px;
  color: rgb(84, 84, 84);
  font-weight: bold;
} */

.auth-btn {
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: #f2efef;
  color: rgb(250, 140, 72);
  font-weight: bold;
  border: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 32px;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1), -2px -2px 6px rgba(255, 255, 255, 0.8),
    6px 6px 7px rgba(0, 0, 0, 0.2);
}
.auth-btn:active {
  opacity: 1;
  box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.5), inset 10px 10px 5px rgba(0, 0, 0, 0.1);
  color: rgb(109, 109, 109);
}
