.card-pet {
    position: relative;
    width: 390px;
    height: 420px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(255, 200, 132);
    color: rgb(91, 91, 91);
    box-shadow: 0px 10px 10px 3px rgb(79, 79, 79);
}

.pet-info {
    position: absolute;
    bottom: 15;
    left: 30;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: rgb(255, 255, 255);
    z-index: 1;
    font-size: 1rem;
}

.edit-pet {
    position: relative;
    bottom: 170;
    left: 290;
}

.pet-profile-img {
    display: block;
    width: 390px;
    height: 420px;
    border-radius: 20px;
}

.text-layer {
    background-color: rgba(45, 45, 45, 0.31);
    color: rgba(240, 248, 255, 0);
    height: 120px;
    width: 390px;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.like {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30;
    right: 30;
    border-radius: 50%;
    border: none;
  cursor: pointer;
  border-radius: 32px;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1), -2px -2px 6px rgba(255, 255, 255, 0.8),
    6px 6px 7px rgba(0, 0, 0, 0.2);
}