<<<<<<< HEAD
<h1>Favorites</h1>
<ul>
    {{#each favorites}}
    <li>{{ this.pet.petName}}</li>
    {{/each}}
</ul>
=======
<h1>My List</h1>
{{> nav}}
>>>>>>> f070123d4ba92acee1080a98afa9aa58491e9b69
